$color-tag: #BA3530;
$color-grey: #808080;
$color-line: #6D6D6D;
$color-thin-line: #E5E5E5;
$color-sections: #5B5B5B;
$color-sections-hover: darken($color-sections, 10%);
$color-sections-active: lighten($color-sections, 5%);
$color-button: #878787;
$color-white: #FFFFFF;
$color-white-hover: $color-thin-line;
$color-white-active: darken($color-white, 20%);
$color-black: #000000;
$color-logo: #282828;
