.single-article-page__content-col{
  --x-gutter: 60px;
  flex: 0 0 calc( (100% - (var(--x-gutter) * 4)) / 4);
  max-width: calc( (100% - (var(--x-gutter) * 4)) / 4);
  margin: 0 30px;
  @media screen and (max-width: 1440px){
    --x-gutter: 30px;
    margin: 0 15px;
  }
  @media screen and (max-width: 1199px){
    margin: 36px 0 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .main__aside-card:not(.banner-container) + .main__aside-card:not(.banner-container){
    @media screen and (max-width: 991px){
      border-top: 2px solid $color-thin-line;
      padding: 24px 0 0;
    }
  }
  .main__aside-card:last-of-type{
    @media screen and (max-width: 991px){
      display: none;
    }
  }
}
